// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


//BRAND COLORS
$primary: #0D395F; //0, 175, 215	
$blue: #0D395F;
$midnight: rgb(0,49,60); //#00313C
$gold: #FDD16D;
$green: rgb(0, 175, 102);
$white: rgb(255, 255, 255);

$other-blue: #75A3CD;

$dark-gray: #4C4B4C;
$med-gray: rgb(117, 120, 123);
$blue-gray: rgb(166, 187, 200); //#a6bbc8
$aqua: rgb(42, 210, 201);
$orange: rgb(255, 106, 19);
$rose: rbg(244, 54, 76);
$light-gray: #efefef;
$purple: #485CC7;//
$light-blue: #ACD6EB;