// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,500;0,700;0,800;0,900;1,300;1,400&display=swap');

html {
    -webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Fira Sans', sans-serif;
	overflow-x: hidden;
	 overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

#single-wrapper {
	padding-top: 0;
}

h1,h2,h3,h4{
	color: $primary;
	margin: 30px 0 15px 0;
}

#secondary img, article img, figure, img, img.wp-post-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}

.avatar {
	width: 30px;
	height: 30px;
}

.entry-header h1 {
	margin-top: 90px;
}

.entry-title {
	border-bottom: 4px solid $gold;
	font-weight: 900;
}

.main-class-content {
	background-color: #efefef;
	padding: 50px;
	margin: 80px 30px;
}

.entry-content {
	font-size: 1.4em;
	color: $primary;
}

.entry-content a {
	text-decoration: underline;
}

.entry-content a:hover {
	background-color: $gold;
}

.entry-content li {
	margin-bottom: 15px;
}

.entry-content h2 {
	font-weight: 800;
}

.readings, .projects, .tools, .asides, .summary, .provocations {
	margin: 50px 30px;
	border: 2px solid $primary;
	padding: 40px 30px;
	box-shadow: 8px 8px 0px $dark-gray;
}

#right-sidebar {
	background-color: #efefef;
	padding-top: 50px;
	margin-top: 0;
}

.citation {
	font-size: .6em;
}


/*chapter*/
.expert-description {
	font-size: .7em;
}


/*comments*/
.comment-author {
	display: inline-block;
}

.comment-author img {
	border-radius: 50%;
	margin: 7px;
}

.comment-metadata {
	font-size: .8em;
	text-align: right;
	display: inline-block;
}

// .comment-list {
// 	list-style: none;
// }

ol.comment-list {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol.comment-list  > li {
  counter-increment: my-awesome-counter;
}
ol.comment-list  > li::before {
  content: counter(my-awesome-counter) ". ";
  color: #fff;
  background-color: $primary;
  width: 100%;
  height: 30px;
  font-weight: 800;
  font-size: 1.2em;
  display: inline-block;
  text-align: left;
  padding: 5px 20px;
}



.comment-list li.comment {
	padding: 20px 30px;
}

.comment-list li.comment li{
	border: none;
	border-left: 1px solid #efefef;
	list-style: none;
}